.container{
  padding: 3rem 5rem;
  display: grid;
  gap: 1.5rem;
  margin-top: 15rem;


  @media only screen and (max-width: 37.5em) {
    // 600px
    padding: 2rem;
    margin-top: 12rem;
  }
}

.network{
  text-align: center;
  text-transform: capitalize;
  padding: 3rem 5rem;
  margin-top: 40rem;
  color: "#000",
}

.error{
  text-align: center;
  text-transform: capitalize;
  padding: 3rem 5rem;
  margin-top: 30rem;
  color: red ;
}